*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
.parent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.parent img{
    width: 105px;
    margin: 20px;
    margin-left: -60px;
}
.parent a{
    padding: 25px;
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.parent .child1 button{
    padding: 10px;
} 
.parent .child1 .but1{
    background: none;
    border: none;
    text-decoration: underline;
}
.parent .child1 .but2:hover{
    border-radius: 5px;
    background-color:white;
    color: rgb(15, 119, 216);
    border: 2px solid black;
}
.parent .child1 .but2{
    background-color: rgb(15, 119, 216);
    border: none;
    border-radius: 5px;
    width: 80px;
    height: 35px;
    color: white;
}
.parent2{
    display: block;
    margin-top: 180px;
    margin-left: 70px;
}
.parent2 h1{
    font-size: 65px;
}
.parent2 span{
    line-height: 23px;
}
.parent2 b{
    color: rgb(15, 119, 216);
}
.parent2 .but3 button{
    margin-top: 50px;
    background-color: rgb(15, 119, 216);
    border: none;
    border-radius: 5px;
    width: 130px;
    height: 45px;
    color: white;
}
.parent2 img{
    width: 620px;
    height: 570px;
    margin-left: 700px;
    margin-top: -450px;
}
.parent2 .but3 button:hover{
    background-color: white;
    color:  rgb(15, 119, 216) ;
    border: 2px solid black ;
}
@media screen and (max-width: 640px) {
    .parent img{
        width: 100px;
        margin: 0 1%; 
    }
    .parent a{
        padding: 0  7px;
        margin: auto;
        font-size: 17px;
    }
    .parent .child1 button{
        padding: 0;
        margin: 5%;
    }
    .parent .child1 .but1{
        text-decoration: underline;
        margin: 5%;
        font-size: 93%;
    }
    .parent .child1 .but2{
        background-color: rgb(15, 119, 216);
        border: none;
        border-radius: 5px;
        width: 60px;
        height: 25px;
        color: white;
        font-size: 85%;
    }
    .parent2 h1{
        font-size: 50px;
        margin: 1% auto;
        padding: 1% 0;
    }
    .parent2 span{
       line-height: 20px;
       margin: 0 ;
    }
    .parent2 .but3 button{
        margin-top: 15px;
        border-radius: 7px;
        width: 100px;
        height: 35px;
    }
    .parent2 img{
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 0 5%;
    }
}
